@model CarDealer.Web.Models.PostViewModel

@{
    var relatedCars = (IEnumerable<CarDealer.Web.Models.PostViewModel>)ViewBag.RelatedPosts;
    var category = (CarDealer.Web.Models.PostCategoryViewModel)ViewBag.Category;
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
<div class="section">
    <div class="breadcrumbs1_wrapper novi-background">
        <div class="container">
            <div class="breadcrumbs1"><a href="/">Trang chủ</a><span></span>@category.Name</div>
        </div>
    </div>
    <div class="section-md-bottom content novi-background bg-cover">
        <div class="container">
            <div class="row row-fix">
                <div class="col-sm-12 col-md-9  column-content">
                    <div class="title2" style="text-align:center">@Model.Name</div>
                    <p style="text-align:justify; font-weight: bold; font-style:italic">@Model.Description</p>
                    <p style="text-align:justify">@Html.Raw(Model.Content)</p>
                    <span class="pull-right">Đăng ngày: @Model.CreatedDate</span>
                </div>
                <div class="col-sm-12 col-md-3  column-sidebar">
                    <div class="row">
                        @{ Html.RenderAction("CarSearchForPartialView", "Car");}
                        @{ Html.RenderAction("LatestPosts", "Post");}
                        @*<div class="col-sm-6 col-md-12">
                            <div class="sidebar-form-wrapper">
                                <div class="sidebar-form">
                                    @if (relatedCars.Count() > 0)
                                    {
                                        foreach (var otherPost in relatedCars)
                                        {
                                            var url = "/" + otherPost.Alias + ".p-" + otherPost.ID + ".html";
                                            <div class="footer-product">
                                                <figure class="footer-product-img">
                                                    <a href="@url">
                                                        <img src="@otherPost.Image" alt="@otherPost.Name" class="img-responsive">
                                                    </a>

                                                </figure>
                                                <div class="caption">
                                                    <p class="box-title"><a href="@url">@otherPost.Name</a></p>
                                                    <div><span>@otherPost.CreatedDate</span></div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>